body {
  background-color: #f7f7f7;
}
/* Large devices (laptops/desktops, 1025px and up) */
@media only screen and (min-width: 1025px) {
  .desktop-screen {
    .headbar {
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
    .sidebar {
      padding: 20px;
      background-color: white;
      position: absolute;
      overflow: hidden;
      z-index: 50;
    }

    .content {
      background-color: white;
      position: relative;
      z-index: 0;
      margin: 0 auto;
    }

    .header {
      background-color: #4a4a4a;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .headbar {
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow:
      // 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      // 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 5px 2px rgba(0, 0, 0, 0.14);
  }
}
