body {
  background-color: #f7f7f7;
}

.desktop-screen {
  .headbar {
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.14);
  }
  .sidebar {
    padding: 20px;
    background-color: white;
    position: absolute;
    overflow: hidden;
    z-index: 10;
  }

  .content {
    background-color: white;
    position: relative;
    z-index: 0;
    margin: 0 auto;
  }

  .header {
    background-color: #4a4a4a;
  }
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    visibility: hidden;
  }
}

@media only screen and (min-width: 1024px) {
  .headbar {
    visibility: hidden;
  }
}
