<div class="w-full">
  <div class="mx-auto">
    <!-- header -->
    <div class="p-8">
      <p class="text-xl w-max mx-auto font-bold">Exercises</p>
    </div>
    <!-- content -->
    <div class="w-4/5 mx-auto flex flex-col gap-10">
      <!-- buttons -->
      <div>
        <p-button
          [rounded]="true"
          label="Create new exercise"
          (click)="showDialog()"
        />
      </div>
      <!-- quick glance -->
      <!-- TODO: do @for here  -->
      <div class="flex flex-col gap-2">
        <div>
          <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input
              type="text"
              (input)="searchExercise($event)"
              pInputText
              placeholder="Search"
            />
          </p-iconfield>
        </div>
        <div class="outline-2 outline-offset-2 outline-dashed rounded-lg">
          <!-- TODO: do virtual scorlling here for performance -->
          <p-scrollpanel [style]="{ width: '100%', height: '70vh' }">
            @for (exercise of filteredExercises; track exercise.id) {
              <p-card header="Back day exercise">
                <ng-template #title>
                  {{ exercise.name }}
                </ng-template>
                <ng-template #subtitle>
                  {{ exercise.description }}
                </ng-template>
                <p>Personal Best: {{ exercise.max_weight || 0 }} kg</p>
                <ng-template #footer>
                  <div class="flex gap-4 mt-1">
                    <p-button
                      label="Detail"
                      class="w-full"
                      styleClass="w-full"
                    />
                    <p-button
                      (click)="removeExercise(exercise.id)"
                      label="Remove"
                      severity="secondary"
                      class="w-full"
                      [outlined]="true"
                      styleClass="w-full"
                    />
                  </div>
                </ng-template>
              </p-card>
            }
          </p-scrollpanel>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Dialog for creating exercise -->
<!-- TODO: reuse this dialog for create and edit -->
<p-dialog
  header="Create exercise"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <form [formGroup]="createExerciseFormGroup" (ngSubmit)="onCreateExercise()">
    <div class="flex items-center gap-4 mb-4">
      <label for="name" class="font-semibold w-24">Name</label>
      <input
        pInputText
        id="name"
        class="flex-auto"
        formControlName="name"
        autocomplete="off"
      />
    </div>
    <div class="flex items-center gap-4 mb-8">
      <label for="description" class="font-semibold w-24">Description</label>
      <input
        pInputText
        id="description"
        formControlName="description"
        class="flex-auto"
        autocomplete="off"
      />
    </div>
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="closeDialog()" />
      <p-button
        type="submit"
        [disabled]="!createExerciseFormGroup.valid"
        label="Save"
      />
    </div>
  </form>
</p-dialog>
