<div class="w-screen">
  <div class="w-4/5 mx-auto">
    <!-- header -->
    <div>
      <p class="w-max mx-auto">Workout tracker</p>
    </div>
    <!-- buttons -->
    <div>
      <p-button (click)="startNewWorkoutSession()" label="Start New Workout" />
    </div>
    <!-- quick glance -->
    <div class="grid grid-cols-2 gap-4">
      <p-card header="Total workouts"></p-card>
      <p-card header="Total volume"></p-card>
      <p-card header="Total Frequent"></p-card>
      <p-card header="Last Workout"></p-card>
    </div>

    <!-- recent activity -->
    <div>
      <p class="w-max mx-auto">Recent activity</p>
      <p-table
        [value]="recentSessions || []"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template #header>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Total sets</th>
            <th>Total weight lifted</th>
          </tr>
        </ng-template>
        <ng-template #body let-session>
          <tr>
            <td>{{ session.name }}</td>
            <td>{{ session.description }}</td>
            <td>{{ session.exercises | exerciseSummary: "sets" }}</td>
            <td>{{ session.total_weight }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- buttons for navigation -->
    <div class="flex justify-evenly">
      <p-button (click)="navigateToRoutines()" label="Routines" />
      <p-button (click)="navigateToSessions()" label="Sessions" />
      <p-button (click)="navigateToExercises()" label="Exercises" />
      <p-button (click)="navigateToReports()" label="Reports" />
    </div>
  </div>
</div>
