<div class="w-full">
  <div class="mx-auto">
    <!-- header -->
    <div class="p-8">
      <p class="text-xl w-max mx-auto font-bold">Dashboard</p>
    </div>
    <!-- content -->
    <div class="w-4/5 mx-auto flex flex-col gap-10">
      <!-- buttons -->
      <div>
        <p-button
          [rounded]="true"
          (click)="startNewWorkoutSession()"
          label="Start New Workout ?"
        />
      </div>
      <!-- quick glance -->
      <div class="grid grid-cols-2 gap-8">
        <p-card header="Total workouts">
          <p>{{ glance.total_workouts }}</p>
        </p-card>
        <p-card header="Total volume">
          <p>{{ glance.total_volumes }}</p>
        </p-card>
        <p-card header="Total Frequent">
          <p>{{ glance.streaks }}</p>
        </p-card>
        <p-card header="Last Workout">
          <p>{{ glance.last_workout | date }}</p>
        </p-card>
      </div>

      <!-- recent activity -->
      <div>
        <p class="w-max mx-auto font-bold mb-5">Recent activity</p>
        <p-table
          [value]="recentSessions || []"
          [tableStyle]="{ 'min-width': '50rem' }"
        >
          <ng-template #header>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Total sets</th>
              <th>Total weight lifted</th>
            </tr>
          </ng-template>
          <ng-template #body let-session>
            <tr>
              <td>{{ session.name }}</td>
              <td>{{ session.description }}</td>
              <td>{{ session.exercises | exerciseSummary: "sets" }}</td>
              <td>{{ session.total_weight }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
