<!-- TODO: using router outlet here with specific name to navigate to correct component -->

<div class="w-screen">
  <!-- edit/ create routine -->
  <div class="w-4/5 mx-auto">
    <!-- TODO: dynamic create and edit routine -->
    <div>Edit routine</div>

    <!-- TODO: drag and drop area -->
    <div>
      <div class="w-50">
        <div class="flex items-center gap-4 mb-4">
          <label for="username" class="font-semibold w-24">Name</label>
          <input
            pInputText
            id="username"
            class="flex-auto"
            autocomplete="off"
          />
        </div>
        <div class="flex items-center gap-4 mb-8">
          <label for="email" class="font-semibold w-24">Description</label>
          <input pInputText id="email" class="flex-auto" autocomplete="off" />
        </div>
      </div>

      <!-- list of exercises -->
      <div class="mb-4">
        <p-card header="Exercise name">
          <div class="flex items-center gap-4 mb-4">
            <label for="username" class="font-semibold w-24">Note</label>
            <input
              pInputText
              id="username"
              class="flex-auto"
              autocomplete="off"
            />
          </div>
          <!-- list of exercises -->
          <div>
            <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template #header>
                <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Quantity</th>
                  <th style="width: 5rem"></th>
                </tr>
              </ng-template>
              <ng-template #body let-product>
                <tr>
                  <td><input type="text" pInputText placeholder="Search" /></td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.category }}</td>
                  <td>{{ product.quantity }}</td>
                  <td>
                    <p-button
                      icon="pi pi-search"
                      severity="secondary"
                      rounded
                    />
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <p-button
              class="w-full"
              label="Add new set"
              variant="text"
              [raised]="true"
              severity="info"
            />
          </div>
          <p class="m-0">Lorem ipsum dolor sit amet...</p>
        </p-card>
        <p-card header="Simple Card">
          <p class="m-0">Lorem ipsum dolor sit amet...</p>
        </p-card>
        <p-card header="Simple Card">
          <p class="m-0">Lorem ipsum dolor sit amet...</p>
        </p-card>
      </div>
    </div>
  </div>

  <!-- add exercise -->
  <div class="w-4/5 mx-auto">
    <div class="flex">
      <p>Library</p>
      <!-- TODO: add new  -->
      <p-button
        class="w-full"
        label="Add new set"
        variant="text"
        [raised]="true"
        severity="info"
      />
    </div>
    <p-iconfield>
      <p-inputicon styleClass="pi pi-search" />
      <input type="text" pInputText placeholder="Search" />
    </p-iconfield>
    <p-divider />
    <!-- list all exercises -->
    <div>
      <p>All exercises</p>
      <div>
        <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
          <!-- <ng-template #header>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th style="width: 5rem"></th>
                        </tr>
                    </ng-template> -->
          <ng-template #body let-product>
            <tr>
              <td>add icon</td>
              <td>{{ product.name }}</td>
              <!-- <td>{{ product.category }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>
                                <p-button icon="pi pi-search" severity="secondary" rounded />
                            </td> -->
            </tr>
          </ng-template>
        </p-table>
        <p-button
          class="w-full"
          label="Add new set"
          variant="text"
          [raised]="true"
          severity="info"
        />
      </div>
    </div>
  </div>
</div>
